<center>

  <div style="position:fixed;
      top: 50%;
      left: 50%;
      background-color: #ffffff;
      background-repeat:repeat-x;
      border:1px solid #d1c7ac;
      width:47em;
      height:48em;
      color:#333333;
      padding:3px;
      margin-top: -23em;
      margin-left: -23em;
      font-family:tahoma, arial, sans-serif;
      border-radius:15px;
      opacity:0.9;">

<h1>Create a New User</h1><br>

<%= render 'form' %>

<p><%= link_to "Already have an account?", login_path %></p>

</div>

</center>
