<center>

  <div style="position:fixed;
      top: 50%;
      left: 50%;
      background-color: #ffffff;
      background-repeat:repeat-x;
      border:1px solid #d1c7ac;
      width:25em;
      color:#333333;
      padding:3px;
      margin-top: -16em;
      margin-left: -12em;
      font-family:tahoma, arial, sans-serif;
      border-radius:15px;">

<h1>Create a New Pet</h1>

<%= render 'form' %>

</div>

</center>
