// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap_col {
  display: flex;
  align-items: center;

}


.form-container {
  width: 400px;
}
