<center>

  <div style="position:fixed;
      top: 50%;
      left: 50%;
      background-color: #ffffff;
      background-repeat:repeat-x;
      border:1px solid #d1c7ac;
      width:35%;
      min-height:20%;
      height:auto;
      color:#333333;
      padding:3px;
      margin-top: -16em;
      margin-left: -18em;
      font-family:tahoma, arial, sans-serif;
      border-radius:15px;
      opacity:0.9;">

<h1>Edit Appointment</h1>

<%= render 'form' %>

<p><%= form_tag appointment_path(@appointment), method: 'get' do %>
<%= submit_tag 'Back to Appointment' %>
<% end %></p>

<p><%= button_to "Delete Appointment",  @appointment, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this appointment?" %>
</p>
</div>

</center>
