<h2>All Appointments</h2>

<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.id, appointment_path(appointment) %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Home', owners_path(@owner) %><br>
