<center><h2>All Appointments</h2>

  <% @appointments.each do |appointment| %>
    <div>
      <%= link_to "#{appointment.pet.name} beginning #{appointment.start_date}", appointment_path(appointment) %>
    </div>
  <% end %>

<%= link_to 'Back to Profile', owner_path(session[:owner_id]) %><br>
<%= link_to 'Home', owners_path %><br>

</center>
