<center><h2>All Appointments</h2>

  <% @appointments.each do |appointment| %>
    <div>
      <%= link_to "#{appointment.pet.name} beginning #{appointment.start_date}", appointment_path(appointment) %>
    </div>
  <% end %>

</center>
