
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pet Sits R Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>
<body>

<%= render "shared/navbar" %>

  <body>
    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |e| %>
          <li style="color: red">
            <%= e %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
